.container{
    display: list-item;
    
    background-color: #757683;
    flex-grow: 5;
    overflow: scroll;
}


.img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.child{
    background-color: white;
    border-radius: 5px;
    width: 95%;
    margin: 5px;
    padding: 10px;
    
}
