.body{
    background-color: #3eb6ee;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    overflow: hidden;


    flex-direction: row;
    background-color: #2d7cf3;
    height: 100%;
}